.header {
  background-color: black;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
}

.header a {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  float: left;
  color: white;
  text-align: center;
  padding: 25px 91px;
  margin: 0;
  top: 0;
  font-size: 17px;
}

.header a:hover {
  background-color: #3ac950;
  color: black;
}

.header a.active {
  background-color: #1a6926;
  color: white;
}

.footer {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: black;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}

.footer a {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  float: left;
  color: white;
  text-align: left;
  padding: 25px 180px;
  font-size: 17px;
}

.footer a:hover {
  background-color: #3ac950;
  color: black;
}

.footer a.active {
  background-color: #1a6926;
  color: white;
}

p {
  color: white;
  text-align: center;
}

h2 {
 text-align: center;
 background-color: #252525;
 color: white;
 padding: 18px;
 border-bottom-right-radius: 70px;
 border-bottom-left-radius: 70px;
 border-top-right-radius: 15px;
 border-top-left-radius: 15px;
}

body {
  background-image: url('Lab2Background.webp');
}

.splitinfo {
    width:100%;
    float: center;
    background-color: #FFFFFF;
}
.bodyinfo{
    width: 32%;
    float: left;
    text-align:center;
    background-color: #404040;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

.bodyinfo2{
    width: 46%;
    float: left;
    text-align:center;
    background-color: #404040;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

